.button--box {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--color-2);
    color: var(--black);
    font: var(--title-4);
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.button--box:hover {
    background-color: var(--color-2-hover);
}